:root {
  --color-primary: oklch(37.2% 0.044 257.287);
  --color-secondary: oklch(70.4% 0.04 256.788);
  --color-accent: oklch(20.8% 0.042 265.755);
  --color-background: oklch(98.4% 0.003 247.858);
  --color-text: oklch(20.8% 0.042 265.755);
  --font-headings: Inter, sans-serif;
  --font-body: Inter, sans-serif;
  --radius-small: 8px;
  --radius-medium: 16px;
  --radius-large: 24px;
}