{% set children = section.children | default([]) %}
{% set hasChildren = children | length > 0 %}
{% set style = section.style | default({}) %}
{% set layoutClass = style.layout | default('') %}
{% if not layoutClass and hasChildren %}
  {% set layoutClass = 'flex flex-col' %}
{% endif %}
{% set gapClass = style.gap | default('') %}
{% if not gapClass and hasChildren %}
  {% set gapClass = 'gap-6' %}
{% endif %}
{% set alignClass = style.align | default('') %}
{% if not alignClass and hasChildren %}
  {% set alignClass = 'justify-start items-start' %}
{% endif %}
{% set classList = (layoutClass ~ ' ' ~ gapClass ~ ' ' ~ alignClass) | trim %}
<div data-group-container class="{{ classList }}">
  {% for child in children %}
    {% include 'partials/' + child.type + '.njk' %}
  {% endfor %}
</div>
