<figure class="media-figure">
  <img src="{{ section.props.src }}" alt="{{ section.props.alt }}" />
  {% if section.props.caption %}
    <figcaption>{{ section.props.caption }}</figcaption>
  {% endif %}
</figure>
